<!DOCTYPE html>
<html>
  <head>
    <!--
      Call the ejs inlude command and provide the path to the partial to
      include. Path is relative to this file.
   -->
   <!-- Include our head.ejs file -->
     <%include ../partials/head %>
     <script type="text/javascript">
        document.cookie = "username=Katelyn";
    </script>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

      <h1>Hello, <%= name %>!</h1>
      <p>
        the word of the day is: <%= word %>.
      </p>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
